.DS_Store
node_modules
/dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

#Project Demo
/project-demo/node_modules
/project-demo/package-lock.json

#Async Demo
/async-demo/node_modules
/async-demo/package-lock.json